.general,
.general form {
  display: flex;
  flex-direction: column;
}

.general {
  width: 500px;
  height: 400px;
  border-radius: 15px;
  background-color: rgb(192, 192, 192);
  padding: 50px;
}

.general h2 {
  font-size: 40px;
  margin-bottom: 70px;
  align-self: center;
}

.general form {
  gap: 10px;
}

.general form input,
.general form label {
  font-size: 20px;
}
